<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
		<title>Error 404 - Not Found</title>
	</head>
	<body>
		<section class="section">
			<div class="container">
				<p class="title is-1">Resource Not Found</p>

				<div class="box">
					<p class="title is-4">The resource you requested could not be found</p>

					<p>
						Your path ends here, but you can always go back to the <a href="/">homepage</a>.
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
