<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
		<title>Elephox Application</title>
	</head>
	<body>
		<section class="section">
			<div class="container">
				<p class="title is-1">Hello World</p>

				<div class="box">
					<p class="title is-4">This is your new Elephox application</p>

					<p>
						You can find the source code of this application in the <code>src/</code> directory.
					</p>
				</div>

				<div class="box">
					<p class="title is-4">Need to look something up?</p>

					<p>
						You can access the Elephox documentation at
						<a href="https://elephox.dev" target="_blank">elephox.dev</a>.
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
